* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: rgb(41, 41, 41);
}

#header-title {
  color: whitesmoke;
  font-size: 32px;
  font-style: oblique;
  font-weight: bold;
}

#header-container .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#header-container img {
  width: 30px;
  height: 30px;
}